
<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-8">
                <div class="form-group">
                    <lable class="col-md-3 control-label"><b>Select Class</b></lable>
                    <div class="col-md-8">
                        @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <lable class="col-md-3 control-label"><b>Select Subject</b></lable>
                    <div class="col-md-8">
                        <select class="form-control" id="subjects" name="subjects"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Student Name
                </th>
                <th>
                    Status
                </th>
                <th>
                    Reason
                </th>
            </tr>
        </thead>
        <tbody id="attendance_table"></tbody>
    </table>
    <button type="button" id="save_attendance" class="btn btn-primary" disabled>Save</button>
</div>





            <script type="text/javascript">
                var attendance =
                    {
                        Id: '',
                        SubjectID: '',
                        Status: '',
                        Reason: ''

                    };
                attendances = [];
                $(document).ready(function () {

                    var subjectcookieval = null;
                    var classcookieval = null;
                    var allcookies = document.cookie;

                    // Get all the cookies pairs in an array
                    cookiearray = allcookies.split(';');

                    // Now take key value pair out of this array
                    for (var i = 0; i < cookiearray.length; i++) {
                        name = cookiearray[i].split('=')[0];
                        value = cookiearray[i].split('=')[1];

                        console.log(cookiearray[i]);

                        if (cookiearray[i].split('=')[0] == " ClassCookieattendance" || cookiearray[i].split('=')[0] == "ClassCookieattendance") {
                            classcookieval = cookiearray[i].split('=')[1];

                        }

                        if (cookiearray[i].split('=')[0] == " SubjectsCookieattendance" || cookiearray[i].split('=')[0] == "SubjectsCookieattendance") {
                            subjectcookieval = cookiearray[i].split('=')[1];

                        }
                    }
                    console.log("classval", classcookieval);

                    console.log("subval", subjectcookieval);
                    if (classcookieval != null && subjectcookieval != null) {

                        var selectClass = document.getElementById('ClassID');
                        selectClass.value = classcookieval;


                        SubjectsByClassID(classcookieval);
                                    
                        StudentBySubjectID(subjectcookieval);
                    }





                    $('#save_attendance').click(function () {
                        attendances = [];
                        $('table tbody tr').each(function () {
                            attendance = Object.create(attendance);
                            attendance.Id = $(this).attr('id');
                            attendance.Status = $('#Status', this).val();
                            attendance.Reason = $('#reason', this).val();
                            attendance.SubjectID = $('#subjects').val();
                            attendances.push(attendance);

                        });
                        stu = JSON.stringify({ 'stu': attendances });

                        $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            type: 'POST',
                            url: '/Teacher_Dashboard/Attendance',
                            data: stu,
                            success: function () {
                                $('#partial').html('Attendance Successfully Save');
                            },
                            failure: function (response) {
                                $('#partial').html('Something went wrong');
                            }
                        });
                    });

                    $("#ClassID").click(function () {
                        var selectedClass = $("#ClassID").val();
                        document.cookie = "ClassCookieattendance=" + selectedClass + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";
                        SubjectsByClassID(selectedClass);
                    });
                    function SubjectsByClassID(classIDVal)
                    {
                        $.get('@Url.Action("SubjectsByClass")',
                            { id: classIDVal }, function (data) {

                                $('#subjects').html('');

                                $.each(data, function (i, item) {
                                    $('#subjects').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
                                });

                            });
                    }
                    function StudentBySubjectID(SubjectIDVal)
                    {
                        $.get('@Url.Action("StudentBySubject")',
                            { id: SubjectIDVal }, function (data) {

                                $('#attendance_table').html('');

                                $.each(data, function (i, item) {

                                    $('#attendance_table').append('<tr id=' + item.Id + '><td>' + item.Name + '</td><td><select class="form-control" id="Status"><option>Present</option><option>Absent</option></td><td><input type="text" class="form-control" id="reason"></td></tr>');
                                });

                            });
                    }
                    $("#subjects").click(function () {
                        $('#save_attendance').prop('disabled', false);
                        var selectedClass = $("#subjects").val();
                        document.cookie = "SubjectsCookieattendance=" + selectedClass + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";
                        StudentBySubjectID(selectedClass);
                    });
                });
            </script>




