@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a style="color:white" class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i style="color:white" class="glyphicon glyphicon-user"></i> @User.Identity.GetUserName()<span style="color:white" class="caret"></span></a>
                <ul id="g-account-menu" class="dropdown-menu" role="menu">
                    <li><a href="#">My Profile</a></li>
                </ul>
            </li>
            <li><a style="color:white" href="javascript:document.getElementById('logoutForm').submit()"><i style="color:white" class="glyphicon glyphicon-lock"></i> Logout</a></li>
        </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
