
<!-- Chart code -->
<script type="text/javascript">
    $(document).ready(function () {


        var subjectcookieval = null;
        var ClassCookie_Reportval = null;
        var allcookies = document.cookie;

        // Get all the cookies pairs in an array
        cookiearray = allcookies.split(';');

        // Now take key value pair out of this array
        for (var i = 0; i < cookiearray.length; i++) {
            name = cookiearray[i].split('=')[0];
            value = cookiearray[i].split('=')[1];

            console.log(cookiearray[i]);

            if (cookiearray[i].split('=')[0] == " ClassCookie_Report" || cookiearray[i].split('=')[0] == "ClassCookie_Report") {
                ClassCookie_Reportval = cookiearray[i].split('=')[1];

            }

            if (cookiearray[i].split('=')[0] == " SubjectsCookie_Report" || cookiearray[i].split('=')[0] == "SubjectsCookie_Report") {
                subjectcookieval = cookiearray[i].split('=')[1];

            }
        }
        console.log("classval", ClassCookie_Reportval);

        console.log("subval", subjectcookieval);
        if (ClassCookie_Reportval != null && subjectcookieval != null) {

            var selectClass = document.getElementById('ClassID');
            selectClass.value = ClassCookie_Reportval;

            SubjByClass(ClassCookie_Reportval);
            ReportBySubjectsID(subjectcookieval);
            
        }

    function SubjByClass(ClassIDVal)
    {
        $.get('@Url.Action("SubjectsByClass", "Teacher_Dashboard")',
                        { id: ClassIDVal }, function (data) {
                            //alert(JSON.stringify(data));
                            $('#SubjectID').html('');
                            $('#SubjectID').prop('disabled', false);
                            $.each(data, function (i, item) {
                                $('#SubjectID').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
                            });

                        });
    }

        function ReportBySubjectsID(SubjectIDVal)
        {

            $.get('@Url.Action("AssignmentsBySubject", "Teacher_Dashboard")',
                { id: SubjectIDVal }, function (data) {

                    $('#AssignmentID').html('');
                    $('#AssignmentID').prop('disabled', false);
                    $.each(data, function (i, item) {
                        $('#AssignmentID').append('<option value=' + item.Id + '>' + item.Title + '</option>');
                    });

                });
        }



        $("#ClassID").click(function () {
            var selectedClass = $("#ClassID").val();
            document.cookie = "ClassCookie_Report=" + selectedClass + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";
            SubjByClass(selectedClass);
        });
        $("#SubjectID").click(function () {
            var selectedSubject = $("#SubjectID").val();
            document.cookie = "SubjectsCookie_Report=" + selectedSubject + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";
            ReportBySubjectsID(selectedSubject);

        });
        $("#AssignmentID").click(function () {
            $('#btnAdd').prop('disabled', false);
            $('#percentage').prop('disabled', false);

        });
        $("#btnAdd").bind("click", function () {
            var selectedAssignment = $("#AssignmentID").val();
            var passpercentage = $("#percentage").val();
            $.get('@Url.Action("ReportByAssignment", "Reports")',
               { assignment: selectedAssignment, percentage: passpercentage }, function (data) {
                   console.log(JSON.stringify(data));
                   var chart = AmCharts.makeChart("chartdiv", {
                       "type": "pie",
                       "theme": "light",
                       "dataProvider": data,
                       "valueField": "number",
                       "titleField": "result",
                       "colorField": "color",
                       "balloon": {
                           "fixedPosition": true,

                       },
                       "export": {
                           "enabled": true
                       }
                   });

               });

        });

    });

</script>
<script>


    
</script>

<!-- HTML -->
<div class="container">
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-8">
                <div class="form-group">
                    <lable class="col-md-3 control-label"><b>Select Subject</b></lable>
                    <div class="col-md-8">
                        @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <lable class="col-md-3 control-label"><b>Select Subject</b></lable>
                    <div class="col-md-8">
                        <select class="form-control" id="SubjectID" name="SubjectID" disabled></select>
                    </div>
                </div>
                <div class="form-group">
                    <lable class="col-md-3 control-label"><b>Select Assignment</b></lable>
                    <div class="col-md-8">
                        <select class="form-control" id="AssignmentID" name="AssignmentID" disabled></select>
                    </div>
                </div>
                <div class="form-group">
                    <lable class="col-md-3 control-label"><b>Passing Percentage</b></lable>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="percentage" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <button id="btnAdd" type="button" class="btn btn-primary" disabled>Generate Report</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">


        <div id="chartdiv"></div>
    </div>
</div>